body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    display: block;
   /* margin: 10px; */
    margin-inline: 10px;
    padding: 10px;
  }
  :root {
    color-scheme: light dark;
  }
  
img {
  width: 50%; /*wanted to make the image smaller */
  height: auto;
}

/*
nav ul,
nav li {
  display: contents; 

}
*/
nav {
  display: flex;
  margin-bottom: 10px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  /* border-bottom-color: oklch(80% 3% 200); */
  --border-color: oklch(50% 10% 200 / 40%);
  border-bottom-color: var(--border-color);

}
nav a{
  flex: 1;
  text-align: center;
  padding: 0.5em;
  text-decoration: none;
  font-weight: bold;
  color: inherit;
  
}
nav a.current {
  border-bottom-width: 0.4em; 
  border-bottom-style: solid;
  border-bottom-color: oklch(80% 3% 200);
  padding-bottom: 0.4em;
  /*color: purple;*/

}
  
:root {
   --color-accent: #c44d7d;/*oklch(65% 50% 0); Accent color */
}

html {
  accent-color: var(--color-accent);
}
nav a:hover{
  border-bottom-width: 0.4em; 
  border-bottom-style: solid;
  border-bottom-color: var(--color-accent);
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}

input, textarea, button {
  font: inherit; 

}
form{
  display:grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}
label{
  display:grid;
  grid-template-columns: auto 1fr;
  /* grid-column: 1 / -1;  doesn't work how it should */
}
button{
  display:grid;
  grid-template-columns: auto 1fr;
  grid-column: 1 / -1;
  text-align: center;
  vertical-align: middle;  
  display: inline-block;   
 
}
.projects{
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(15em,1fr));

}
.projects article{
  display:grid;
  grid-template-rows: auto auto 1fr auto; 
  grid-row: span 3;
  gap: 0.5em

}

#projects-pie-plot {
  max-width: 20em;
  margin-block: 2em;

  overflow: visible;

}
/* hmm */

.legend {
  display: grid;
  grid-template: auto-fill;
  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
  gap: 10px;                     
  padding: 0;                    
  list-style: none;            
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0.5em;
  background-color: #f9f9f9; 
  flex: 1;
}

.legend li {
  display: flex;                
  align-items: center;          
  font-size: 14px;  
  gap: 5px;           

}

&:has(path:hover) {
  path:not(:hover) {
    opacity: 0.5;
  }
}

path {
  transition: 300ms;
  cursor: pointer;
}

.selected {
  --color: oklch(60% 45% 0) !important;

  &:is(path) {
    fill: var(--color);
  }
}

.swatch {
  display: inline-block;        
  width: 20px;
  height: 20px;
  border-radius: 50%;           
  margin-right: 10px; 
  aspect-ratio: 1 / 1;         
  background-color: var(--color); 
}

.container{
  display:flex;
  align-items:center;
  gap: 1em;
}


.text {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-variant-numeric: oldstyle-nums;
  font-family: Baskerville;

  
}
.text h5 {
  margin-bottom: 1em;
}

.projects article h2,h5 {
  margin: 0
}

h1, h2, h3, h4, h5, h6{
  line-height: 1.1;
  text-wrap: balance;
}
h1{
  font-size: 300%;
  margin-bottom: 0.5em;

}
.link {
  color: #c44d7d;
  text-decoration: none;
}

.link:hover{
  border-bottom-width: 0.4em; 
  border-bottom-style: solid;
  border-bottom-color: var(--color-accent);
  background-color: oklch(from var(--color-accent) 95% 5% h);
}
section article {
  font-weight: bold;
  gap: 1em;
}

section time{
  font-style: italic;
  color: #b36868;
}
.space{
  margin-top: 1em;
}

section {
  background-color: white;
  padding: 1.5em;
  margin: 1.5em 0;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.color-scheme{
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
  font-family: inherit;
}



#profile-stats {
  background: #c44d7d;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 0.5rem;
  max-width: 600px;
  
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  gap: 1rem;
}

dt {
  font-weight: bold;
  grid-row: 1;
}

dd {
  margin: 0;
  grid-row: 2;
}
